body{
	font-family: Meiryo UI;
	background-color: #dee0e4;
}

/* メインコンテンツエリア */
div#contentArea {
	padding: 50px;
	overflow: auto;
}

div#ContextBar {
min-height: 24px;
margin: -70px 0 15px;
padding: 70px 0 12px;
text-shadow: 0 1px rgba(255, 255, 255, 0.9);
border: double;
border-width: 3px 0;
}

div.Tile {
	position: relative;
	height: 200px;
	width: 270px;
	background-color: White;
	margin: 10px;
	float: left;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

/* mouse over */
div.Tile:hover {
	-webkit-transform: scale(1.1, 1.1);
	background-color: #fefefe;
	background-repeat: no-repeat;
	background-position: right top;
	opacity: 0.75;
}

span.TileTitle {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-family: Meiryo UI;
	font-size: 16pt;
	color: Black;
}

span.TileContents {
	position: absolute;
	padding: 10px;
	top: 10%;
	font-family: Meiryo UI;
	font-size: 24pt;
	color: Black;
}

/* LIQUID HEADER
--------------------------------------------------------------------------------------- */
#Header {position: fixed; z-index: 103; top: 0; right: 0; left: 0; height: 44px; background-color: #000 url(./header_bg.gif) repeat; box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4); -moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);}
/* For when there is a second bar under the header */
#CategoriesBarPage #Header {position: relative; z-index: 105; box-shadow: 0 0 transparent; -moz-box-shadow: 0 0 transparent; -webkit-box-shadow: 0 0 transparent;}
#kotolog {position: absolute; top: 9px; left: 50%; margin-left: -50px;}

#Search {float: left; margin: 8px 0 0;}
#Search input {float: left; width: 183px; background-color: #faf7f7; border: 1px solid; border-color: #c2c0c0 #cccaca #d1cfcf; box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); -moz-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); -webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.05); font-size: 13px; line-height: 1.3;}
#Search input:focus {background-color: #fff; box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1); -moz-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1); -webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(34,25,25,0.1);}
#Search a {float: left; margin-left: -1px; padding: 7px 7px 2px; min-height: 17px; border: 1px solid; border-color: #c2c0c0 #cccaca #d1cfcf; box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75); -moz-box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75); -webkit-box-shadow: 0 1px rgba(255,255,255,0.9), inset 0 0 2px rgba(255,255,255,0.75);}
#Search a:active {box-shadow: inset 0 1px 1px rgba(34,29,29,0.15); -moz-box-shadow: inset 0 1px 1px rgba(34,29,29,0.15); -webkit-box-shadow: inset 0 1px 1px rgba(34,29,29,0.15);}

.HeaderContainer li {position: relative; display: inline; font-size: 13px;}
.HeaderContainer .nav {position: relative; display: inline-block; color: #524d4d; text-shadow: 0 1px rgba(255,255,255,1);}
.HeaderContainer .nav span {position: absolute; background-position: top center; background-repeat: no-repeat;}
.HeaderContainer .nav:hover span {background-position: center;}
.HeaderContainer .nav:active span {background-position: bottom center;}
.HeaderContainer li:hover .nav {color: #221919;}

.HeaderContainer li ul {position: absolute; display: none; width: 140px; background-color: #fff; border-top: 1px solid #cccaca; box-shadow: 0 2px 4px rgba(34,25,25,0.5); -moz-box-shadow: 0 2px 4px rgba(34,25,25,0.5); -webkit-box-shadow: 0 2px 4px rgba(34,25,25,0.5);}
.HeaderContainer li:hover ul {display: block;}
.HeaderContainer li ul li:first-child a {padding-top: 10px;}
.HeaderContainer li ul li:last-child a {padding-bottom: 10px;}
.HeaderContainer li ul a {display: block; padding: 5px 10px; text-align: left; font-weight: normal; color: #524d4d;}
.HeaderContainer li ul a:hover {color: #221919; text-decoration: none; background-color: #e1dfdf;}
.HeaderContainer li ul a:active {color: #fff; background-color: #cb2027;}

.HeaderContainer .beforeDivider a {padding-bottom: 10px;}
.HeaderContainer .divider a {padding-top: 10px; border-top: 1px solid #e1dfdf;}

/* Navigation Bar */
#Navigation {position: relative; float: right; z-index: 105;}
#Navigation ul {z-index: 105; top: 28px; left: 0;}
#Navigation .nav {height: 23px; padding: 15px 27px 0 14px;}
#Navigation .nav span {top: 20px; right: 14px; width: 7px; height: 6px; background-image: url(../images/DownArrowGray7.png);}
#Navigation .nav .PlusIcon {top: 19px; right: 13px; width: 6px; height: 8px; background-image: url(../images/PlusIconSimple.png);}
#Navigation .LoginNav {padding-right: 14px;}
#Navigation li:hover .nav {text-decoration: none; text-shadow: 0 1px rgba(255,255,255,0.3); background-color: #C87800;}
#Navigation li:active .nav {color: #fff; text-shadow: 0 -1px rgba(34,25,25,0.3); background-color: #cb2027;}
/* #Navigation #UserNav .nav {padding-left: 38px;} */
#Navigation #UserNav img {position: absolute; top: 12px; left: 10px; width: 22px; height: 22px; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 2px rgba(34,25,25,0.3);}
#Navigation #UserNav ul {left: auto; right: 0;}